@tailwind base;
@tailwind components;
@tailwind utilities;


#container {
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

.followersCard {
    @apply font-bold bg-gray-100 dark:bg-slate-900 p-5 text-center rounded-md relative before:absolute before:top-0 before:left-0 before:right-0 before:h-[0.3rem] overflow-hidden hover:bg-gray-200 hover:dark:bg-slate-800 hover:cursor-pointer transition-all delay-100 ease-in-out
}